#image_gallery{width:450px;height:379px;background-color:#222;padding:15px 25px;color:#999;font-style:italic;font-size:13px;}
#ig_preview_vp{width:434px;height:254px;position:relative;overflow:hidden;border:8px solid #000;background-color:#000;}
#ig_preview_vp img{position:absolute;cursor:pointer}


#ig_text{width:450px;height:35px;padding-top:8px;text-align:center;margin-bottom:16px;background-color:#000;}


#ig_left{width:20px;height:48px;float:left;background-image:url(arrowl.png);cursor:pointer}
#ig_thumbs_vp{width:410px;height:48px;position:relative;overflow:hidden;float:left}
#ig_thumbs{position:absolute;left:165px;width:inherit}
.ig_thumb_vp{width:70px;height:48px;position:relative;float:left;overflow:hidden;margin:0 5px;opacity:.5;cursor:pointer}
.ig_active{opacity:1}
.ig_thumb_vp img{position:absolute}
#ig_right{width:20px;height:48px;float:left;background-image:url(arrowr.png);cursor:pointer}

#ig_overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#333;opacity:0.8;z-index:209}
#ig_image_exploded_con{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;z-index:210}
#ig_image_exploded_con img{border:16px solid #000;border-radius:6px}
#ig_image_exploded_con_rel{position:relative;}